DATABASE_URL="postgresql://neondb_owner:npg_2QXlH0rhzCWt@ep-wandering-violet-aq6bufsw.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://neondb_owner:npg_2QXlH0rhzCWt@ep-wandering-violet-aq6bufsw.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="inventur-secret-key-2024"
PORT=3001
GOOGLE_CLIENT_ID="140299078224-psp6lv6ra3ltfdepa9mrn3op5ivv1feh.apps.googleusercontent.com"